<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <logger name="sun.net.www.protocol.http.HttpURLConnection" level="INFO" />
    <logger name="com.github.arteam.simplejsonrpc.server.JsonRpcServer" level="INFO" />
    <logger name="com.zaxxer.hikari.HikariDataSource" level="WARN" />
    <logger name="com.zaxxer.hikari.pool.PoolBase" level="ERROR" />
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="ERROR" />

    <define name="appDir" class="com.sparrowwallet.drongo.PropertyDefiner">
        <application>frigate</application>
    </define>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${appDir}/frigate.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${appDir}/frigate.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
